@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background: url(images/fccps.png) white repeat;
    background-size: 150px;
}
body {
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    padding: 20px 15px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}
p {
    text-align: center;
    max-width: 8in;
    margin: 0 auto;
}
ol {
    margin-left: 35px;
    line-height: 1.5;
}
label {
    display: block;
}
input {
    margin-right: 5px;
}
input, button {
    cursor: pointer;
}
#test {
    display: none;
    text-align: left;
}
#results {
    display: none;
}
#results.shown,
#test.shown {
    display: block;
}
#results #score {
    color: red;
    font-size: 40px;
}
button {
    font: inherit;
    background: none;
    border: solid 2px #00356b;
    color: #00356b;
    padding: 5px 8px;
    margin-top: 5px;
}
